{%extends 'registration_base.html'%}

{%block title%}Login{%endblock%}
{%block content%}

  <h2>Login Form</h2>

<form  method="post">
  {%csrf_token%}
 <h1>
  <h1><a href="">E-learning</a></h1>
 </h1>

  <div class="formfield">
          {%csrf_token%}
    <label for="uname"><b>Username</b></label>
    {{form.username}}

    <label for="psw"><b>Password</b></label>
    {{form.password}}
        
    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
   
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>


{%endblock%}



